@import "tailwindcss";

@theme {
  --color-primary: #FF6B00;
  --color-secondary: #16324F;
  --color-background: #F7F8FA;
  --color-foreground: #171717;
}

:root {
  --background: #F7F8FA;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
